$fontRoboto: 'Roboto', sans-serif;
$fontQuicksand: 'Quicksand', sans-serif;

$bgSectionLight: #F5F8FF;

$bgPrimary: #D2E1FF;
$colorPrimary: #3A79FF;

$bgDanger: #FFD7D7;
$colorDanger: #D43F3F;

$colorSecondary: #000000;

$accentTextColor: #FF8A56;